:root {
    --ideal-viewport-width: 1600;
}

@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}
  
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    color: #fff;
    background: rgb(28, 28, 23);
}

html {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.container {
    padding: #{scaleValue(30)};
}