@function scaleValue($value) {
    @return calc(
      #{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width))
    );
}

.inputduplicator {
    width: 100%;

    &--h4 {
        font-size: #{scaleValue(20)};
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: #{scaleValue(25)};
    }

    &__section {

        
        &--button {
            display: flex;
            justify-content: space-between;

            & span {
                display: inline-block;
            }
            
            & span.btn {
                background: #474DFF;
                padding: #{scaleValue(15)} #{scaleValue(20)};
                cursor: pointer;
                font-size: #{scaleValue(15)};
                border-radius: .2rem;
            }
        }
    }

    &__inputfield {
        display: flex;
        justify-content: space-between;
        margin-bottom: #{scaleValue(30)};
    }

    &__inputfieldnotif {
        flex-direction: column;
    }

    &__inputarea {
        display: flex;
        flex-direction: column;
        flex-basis: 48%;

        &.column {
            margin-bottom: #{scaleValue(30)};
        }

        & label {
            margin-bottom: #{scaleValue(10)};
            font-size: #{scaleValue(16)};
        }

        & input, & textarea {
            display: inline-block;
            border: none;
            width: 100%;
            height: #{scaleValue(45)};
            padding: #{scaleValue(10)} #{scaleValue(14)};
            border-radius: .3rem;
            outline: none;
            font-size: #{scaleValue(17)};
            letter-spacing: #{scaleValue(2)};
            background: rgba(255, 255, 255, 0.09);
            color: #fff;

            &::placeholder {
                opacity: 0;
            }
        }

        & textarea {
            min-height: #{scaleValue(200)};
        }
    }

    &__transactionlist {
        min-height:  #{scaleValue(17)};
        width: 100%;
        margin-bottom: #{scaleValue(30)};
    }

    &__transactionlistitem {
        position: relative;
        background: #fff;
        display: flex;
        color: #000000;
        border-radius: .2rem;
        padding: #{scaleValue(17)};
        cursor: pointer;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, .4);
        font-size: #{scaleValue(16)};

        &--remove {
            position: absolute;
            top: #{scaleValue(-5)};
            right: #{scaleValue(-5)};
            cursor: pointer;
            border-radius: 100%;
            border: 1px solid rgba(0, 0, 0, .4);
            height: #{scaleValue(17)};
            width: #{scaleValue(17)};
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: #{scaleValue(10)};
            background: #fff;
        }

        &--section {

            & p {
                &.deposit {
                    color: rgba(71, 77, 255, 0.9);
                }

                &.transfer {
                    color: rgba(19, 141, 117, 0.9);
                }

                &.withdrawal {
                    color: rgba(192, 57, 43, 0.9)
                }
            }

            &:nth-child(1) {
                flex-basis: #{scaleValue(80)};
            }

            &:nth-child(2) {
                flex-basis: #{scaleValue(100)};
            }

            &:nth-child(3) {
                flex-basis: #{scaleValue(100)};
            }

            &:nth-child(4) {
                flex-basis: #{scaleValue(100)};
                //comment section
            }

            &:nth-child(5) {
                flex-basis: #{scaleValue(200)};
            }

            &.column {
                flex-basis: auto;

                &:nth-child(1) {
                    margin-bottom: #{scaleValue(20)};
                }
            }
        }

        &.column {
            flex-direction: column;
            align-items: flex-start;

            & span.label {
                display: inline-block;
                color: #474DFF;
                font-weight: 700;
                margin-bottom: #{scaleValue(5)};
            }
        }
    }

    &__transactionlisthd{
        color: #474DFF;
        font-weight: 700;
        margin-bottom: #{scaleValue(17)};
    }
}